:root {
    --off-white: #FAFAF9;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Sora", sans-serif;
    background-color: var(--off-white);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.justify-center {
    justify-content: center;
}

.header-link {
    padding: 10px;
}

.home-container {
    padding: 20px;
}

.home-header-1 {
    padding-bottom: 20px;
}

.home-header-2 {
    padding-bottom: 10px;
}

.home-list-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.home-list {
    padding: 0;
}

.font-small {
    font-size: 0.825rem;
}