:root {
    --dark-purple: #883AE1;
    --light-purple: #E6D6Fc;
    --light-grey: #E5EAF0;
    --dark-grey: #6C727F;
    --off-white: #FAFAF9;
    --white: #FFFFFF;
    --black: #20293A;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    background-color: var(--off-white);
}

.header-link {
    padding: 10px;
}

.home-container {
    padding: 20px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.home__title {
    margin-bottom: 30px;
}