:root {
    --blue: #2A4DD0;
    --green: #4CA152;
    --black: #111729;
    --navy: #223344;
    --grey: #909193;
    --light-blue: #F2F9FE;
    --white: #ffffff;
}

[data-theme="light"] {
    --color-bg: var(--light-blue);
    --color-bg-2: var(--white);
    --color-text: var(--black);
    --color-text-2: var(--blue);
    --color-text-3: var(--grey);
    --color-bg-button: var(--navy);
    --color-bg-button-active: var(--light-blue);
    --img-logo: url("./images/alarado-icon-homepage.svg");
}

[data-theme="dark"] {
    --color-bg: var(--navy);
    --color-bg-2: var(--black);
    --color-text: var(--white);
    --color-text-2: var(--light-blue);
    --color-text-3: var(--light-blue);
    --color-bg-button: var(--light-blue);
    --color-bg-button-active: var(--navy);
    --img-logo: url("./images/alarado-icon-homepage-dark.svg");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-bg) !important;
    transition: background-color 0.3s ease;
}

a {
    color: var(--color-text-2);
}

.main-container {
    justify-content: start !important;
    padding-top: 50px;
}

.sh__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px 40px 20px 40px;
}

.sh__header-list {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 1.25rem;
    font-weight: bold;
}

.sh__header-link {
    color: var(--color-text);
    text-decoration: none;
}

.sh__header-side {
    min-width: 200px;
}

.sh__header-side:nth-of-type(2) {
    display: flex;
    justify-content: end;
}

.sh__header-logo {
    content: var(--img-logo);
    width: 150px;
}

.sh__header-theme-button,
.sh__header-mobile-theme-button {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-button);
    border-radius: 24px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    border: none;
}


.sh__header-theme-sun,
.sh__header-theme-moon,
.sh__header-mobile-theme-sun,
.sh__header-mobile-theme-moon {
    padding: 5px;
    border-radius: 50%;
}

.sh__header-theme-active {
    color: var(--color-bg-button);
    background-color: var(--color-bg-button-active);
}

.sh__header-hamburger-menu {
    display: none;
    background-color: var(--color-bg);
    fill: var(--color-text);
    border: none;
    cursor: pointer;
}

.sh__header-mobile-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    right: 0;
    height: 100vh;
    width: 70%;
    background-color: var(--color-bg-2);
    transition: background-color 0.3s ease;
}

.sh__header-mobile-menu-x-container {
    display: flex;
    justify-content: end;
}

.sh__header-mobile-menu-x {
    padding: 10px;
    background-color: var(--color-bg-2);
    border: none;
    cursor: pointer;
}

.sh__header-mobile-menu-svg {
    fill: var(--color-text);
}

.sh__header-mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
    list-style-type: none;
    padding-inline-start: 0px;

}

.sh__header-mobile-list-item {
    color: var(--color-text);
    list-style-type: none;
}

.sh__header-mobile-list-link {
    color: var(--color-text);
    text-decoration: none;
}

.sh__header-mobile-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sh__hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    padding: 20px 40px 20px 40px;
}

.sh__hero-info {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.sh__hero-info-subheader {
    font-weight: bold;
    color: var(--color-text);
}

.sh__hero-info-header {
    font-size: 3.75rem;
    font-weight: 900;
    color: var(--color-text);
}

.sh__hero-info-text {
    font-weight: 500;
    font-size: 1.325rem;
    color: var(--color-text-3);
}

.sh__hero-info-button-row {
    display: flex;
    align-items: center;
    gap: 24px;
}

.sh__hero-info-button {
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 10px;
    border: none;
    padding: 15px 30px 15px 30px;
}

.sh__hero-info-link {
    color: var();
    font-weight: bold;

    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.sh__hero-info-list {
    display: flex;
    gap: 36px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--color-text);
}

.sh__hero-info-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media only screen and (max-width:1280px) {
    .main-container {
        justify-content: center !important;
        padding-top: 0px;
    }
}

@media only screen and (max-width:1024px) {
    .sh__hero-container {
        grid-template-columns: 1fr;
    }

    .sh__hero-image-container {
        order: -1;
    }

    .sh__header-side {
        min-width: 100px;
    }

    .sh__header-list {
        font-size: 1rem;
    }
}

@media only screen and (max-width:640px) {

    .sh__header-list,
    .sh__header-theme-button {
        display: none;
    }

    .sh__header-hamburger-menu {
        display: inline-block;
    }

    .sh__hero-info-header {
        font-size: 2.25rem;
    }

    .sh__hero-info-header {
        font-size: 2.25rem;
    }

    .sh__hero-info-text {
        font-size: 1rem;
    }

    .sh__hero-info-button {
        font-size: 0.825rem;
        padding: 10px 20px 10px 20px;
    }

}