:root {
    --dark-purple: #883AE1;
    --light-purple: #E6D6Fc;
    --light-grey: #E5EAF0;
    --dark-grey: #6C727F;
    --off-white: #FAFAF9;
    --white: #FFFFFF;
    --black: #20293A;
}

.mbc__container {
    width: 350px;
    padding: 20px 16px 20px 16px;
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.mbc__image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    padding-bottom: 16px;
}

.mbc__tags {
    width: min-content;
    font-weight: bold;
    border-radius: 1rem;
    padding: 5px 15px 5px 15px;
    font-size: 0.625rem;
    color: var(--dark-purple);
    background-color: var(--light-purple);
}

.mbc__title {
    font-size: 1.125rem;
    padding-top: 16px;
    padding-bottom: 6px;
}

.mbc__description {
    font-weight: 200;
    font-size: 0.875rem;
    padding-bottom: 20px;
}

.mbc__author {
    font-weight: 400;
    font-size: 0.75rem;
    padding-top: 20px;
}


.mbc__author,
.mbc__description {
    color: var(--dark-grey);
}

.mbc__line {
    margin-left: -16px;
    width: 120%;
    border-bottom: 1px var(--light-grey) solid;
}