:root {
    --indigo: #6466E9;
    --navy: #111729;
    --dark-blue: #20293A;
    --grey: #4A5567;
    --light-grey: #97A3B6;
    --white: white;
}

[data-theme="dark"] {
    --color-bg: var(--navy);
    --color-bg-2: var(--dark-blue);
    --text: var(--white);
    --text-2: var(--light-grey);
    --button-border: var(--grey);
    --button-hover: var(--dark-blue);
    --accent: var(--indigo);
}

body {
    background-color: var(--color-bg) !important;
    font-family: "Outfit", sans-serif;
}

.main-container {
    padding: 20px !important;
}

#quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 575px;
    padding: 40px;
    border-radius: 16px;
    background-color: var(--color-bg-2);
    background-image: url("./assets/bg-image-random-quote.svg");
    background-size: cover;
}

.rq__author {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
}

.rq__tags-container {
    display: flex;
    gap: 15px;
}

.rq__tag {
    font-size: 0.625rem;
    color: var(--indigo);
    border: 1px solid var(--indigo);
    padding: 5px 15px 5px 15px;
    border-radius: 16px;
}

.rq__quote {
    font-size: 1.5rem;
    color: var(--text-2);
    text-align: center;
}

.rq__button-container {
    display: flex;
    gap: 0px;
    padding-top: 24px;
}

.rq__button {
    background-color: var(--color-bg);
    border: 1px solid var(--button-border);
    padding: 10px 15px 10px 15px;
    border-radius: 16px;
    cursor: pointer;
}

.rq__button:hover {
    background-color: var(--button-hover);
}

.rq__button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rq__button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media only screen and (max-width:640px) {
    #quote-container {
        width: 100%;
    }
}